*.log
*.log.lck
IDConflicts.txt
launcher_profiles.json
launcher.jar
launcher.pack.lzma
options.txt
asm/*
assets/*
hats/*
libraries/*
logs/*
mods/ruins_log.txt
reports/*
resourcepacks/*
saves/*
stats/*
versions/*
