*.log
*.log.lck
IDConflicts.txt
launcher_profiles.json
launcher.jar
launcher.pack.lzma
options.txt
asm/*
assets/*
hats/*
journeymap/*
libraries/*
logs/*
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
mods/ruins_log.txt
moreplayermodels/playerdata/*
reports/*
resourcepacks/*
saves/*
src/*
stats/*
versions/*
