# Configuration file

####################
# general
####################

general {
    I:EntityArrow=0
    I:EntityAspectOrb=0
    I:EntityBat=0
    I:EntityBird=0
    I:EntityBlaze=0
    I:EntityBoat=0
    I:EntityBrainyZombie=0
    I:EntityCaveSpider=0
    I:EntityChicken=0
    I:EntityClientPlayerMP=0
    I:EntityCow=0
    I:EntityCreeper=0
    I:EntityEnderman=0
    I:EntityFallingBlock=0
    I:EntityFallingTaint=0
    I:EntityFireBat=0
    I:EntityGhast=0
    I:EntityGiantBrainyZombie=0
    I:EntityGlob=0
    I:EntityHorse=0
    I:EntityIronGolem=0
    I:EntityItem=0
    I:EntityItemFrame=0
    I:EntityJungleSpider=0
    I:EntityMagmaCube=0
    I:EntityMinecartChest=0
    I:EntityMinecartEmpty=0
    I:EntityMinecartFurnace=0
    I:EntityMinecartHopper=0
    I:EntityMinecartTNT=0
    I:EntityMooshroom=0
    I:EntityOcelot=0
    I:EntityPainting=0
    I:EntityPech=0
    I:EntityPhantom=0
    I:EntityPig=0
    I:EntityPigZombie=0
    I:EntityPixie=0
    I:EntityRosester=0
    I:EntitySheep=0
    I:EntitySilverfish=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySnowman=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityTNTPrimed=0
    I:EntityTaintChicken=0
    I:EntityTaintCow=0
    I:EntityTaintCreeper=0
    I:EntityTaintPig=0
    I:EntityTaintSheep=0
    I:EntityTaintSpider=0
    I:EntityTaintSpore=0
    I:EntityTaintSporeSwarmer=0
    I:EntityTaintSwarm=0
    I:EntityTaintVillager=0
    I:EntityTaintacle=0
    I:EntityTaintacleSmall=0
    I:EntityThaumicSlime=0
    I:EntityVillager=0
    I:EntityWasp=0
    I:EntityWisp=0
    I:EntityWitch=0
    I:EntityWolf=0
    I:EntityZombie=0
    I:"update Interval"=1000
}


